{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<body class="text-center">
    <div class='container'>        
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
        </h1>
        <form method="'POST" class="'form-register" style="color: white">
            {{ form.username.label() }}
            {{ form.username(class='form-control', placeholder="User's name") }}
            {{ form.email_address.label() }}
            {{ form.email_address(class='form-control', placeholder="User's email") }}
            {{ form.password.label() }}
            {{ form.password(class='form-control', placeholder="User's Password") }}
            {{ form.password_confirmation.label() }}
            {{ form.password_confirmation(class='form-control', placeholder="Repeat User's Password") }}
            
            <br/>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>   
{% endblock %}